
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  .Font_For_Title_And_Headings {
    font-family: RobotoSlab !important;
   }
   .Font_For_Paragraph_And_Texts {
    font-family: FiaraSas !important;
   }
   
.body{
  font-family:FiaraSas !important;
}
.containerl{
  padding-right: 0% !important;
  padding-left: 0% !important;
  margin-right: 0% !important;
  margin-left: 0% !important;
 }
 .div_Eight
 {
  padding-left: 22px!important;
 }
 .div_Four{
  padding-left: 10%!important;
   padding-top: 7%;;
 }